<div id="wrapper">

  <img src="" alt="" class="grad">
  <div class="landing">

    <div class="section home">

      <div class="container">
          <%= image_tag "templo.png", :class => "templo"%>
          <%= image_tag "monje.png", :class => "monje"%>

          <%= image_tag "logo4.png", :class => "logo"%>
          <%= image_tag "bambu1.png", :class => "bambu1"%>
          <%= image_tag "bambu2.png", :class => "bambu2"%>

          <%4.times do |n|%>
            <%= image_tag "globo.png", :class => "globo#{n}"%>
          <%end%>

          <%= image_tag "video.png", :id => "g_video", :class => "btn"%>
          <%= image_tag "play.png", :id => "g_play", :class => "btn"%>
          <%= image_tag "info.png", :id => "g_info", :class => "btn"%>
      </div>
    </div>

    <div class="section games">
      <div class="container">
        <div class="option btn j1">
        </div>
        <div class="option btn j2">
        </div>
        <div class="option btn j3">
        </div>
      </div>

    </div>

  </div>

  <div id="video">
    <iframe src="https://www.youtube.com/embed/YcaelEmSuZE?rel=0&amp;autoplay=1&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen id="#promo"></iframe>
  </div>

  <div id="about">Acá va el about</div>


  <footer>
    <ul>
      <li><%= link_to '<i class="fa fa-facebook" aria-hidden="true"></i>'.html_safe, "http://www.facebook.com", :target => "_blank" %></li>
      <li><%= link_to '<i class="fa fa-behance" aria-hidden="true"></i>'.html_safe, "http://www.behance.net", :target => "_blank" %></li>

      <li id="legal"><%=link_to '<i class="fa fa-gavel" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <div></div>
      </li>

      <li id="idioma"><%=link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <ul>
          <li><a href="#">EN</a></li>
          <li><a href="#">ES</a></li>
        </ul>
      </li>
    </ul>
  </footer>

</div>