<div id="wrapper">
  <div class="landing">

    <div class="seccion home">

      <div class="container">
        <%= image_tag "templo.png", :class => "templo"%>
        <%= image_tag "logo.png", :class => "logo"%>
        <%= image_tag "monje.png", :class => "monje"%>
        <%= image_tag "globo.png", :class => "g_video"%>
        <%= image_tag "globo.png", :class => "g_play"%>

        <%5.times do |n|%>
          <%= image_tag "globo.png", :class => "globo#{n}"%>
        <%end%>
      </div>

      <div id="social">
        <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="http://www.behance.net"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <i class="fa fa-gavel" aria-hidden="true"></i>
        <i class="fa fa-globe" aria-hidden="true"></i>
      </div>
    </div>

    <div class="seccion games">Games</div>

  </div>
</div>