
<div id="wrapper">

  <div class="landing">
    <div class="section home">
      <div src="" alt="" class="grad"></div>

      <div class="container">
        <%= image_tag "templo.png", :class => "templo"%>
        <%= image_tag "monje.png", :class => "monje"%>
        <%= image_tag "bambu1.png", :class => "bambus bambu3"%>
        <%= image_tag "bambu2.png", :class => "bambus bambu4"%>


        <%= image_tag "logo2.png", :class => "logo"%>
        <%= image_tag "bambu1.png", :class => "bambus bambu1"%>
        <%= image_tag "bambu2.png", :class => "bambus bambu2"%>
        <%= image_tag "bambu1.png", :class => "bambus bambu5"%>

        <%4.times do |n|%>
        <%= image_tag "globo.png", :class => "globo#{n}"%>
        <%end%>

        <i class="btn fa fa-play" id="g_video"></i>
        <i class="btn fa fa-chevron-right" id="g_play"></i>
        <i class="btn fa fa-info" id="g_info"></i>

      </div>
    </div>

    <div class="section games">

      <div class="grad"></div>
      <div class="container">
        <div class="juegos">
          <div class="option btn j1">
            <div class="descripcion">
              <h3>Juego 1</h3>
              <p>Este juego aún se encuentra en costrucción, proximamente podrás disfrutarlo.</p>
            </div>
          </div>

          <div class="option btn j2">
            <div class="descripcion">
              <h3>Juego 2</h3>
              <p>Este juego aun se encuentra en costrucción, próximamente podrás disfrutarlo.</p>
            </div>
          </div>

          <div class="option btn j3">
            <div class="descripcion">
              <h3>Juego 3</h3>
              <p>Este juego aun se encuentra en construcción, proximamente podrás disfrutarlo.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="video"></div>
  <div id="about">Acá va el about</div>

  <footer>
    <ul>
      <li><%= link_to '<i class="fa fa-facebook" aria-hidden="true"></i>'.html_safe, "https://www.facebook.com/withoutbrainart", :target => "_blank" %></li>
      <li><%= link_to '<i class="fa fa-behance" aria-hidden="true"></i>'.html_safe, "https://www.behance.net/withoutbrain", :target => "_blank" %></li>

      <li id="legal"><%=link_to '<i class="fa fa-gavel" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <div>Acá van los términos legales</div>
      </li>

      <li id="idioma"><%=link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <ul>
          <li><a href="#">EN</a></li>
          <li><a href="#">ES</a></li>
        </ul>
      </li>
    </ul>
  </footer>
  <div id="bloque"></div>

</div>