<div id="wrapper">

  <img src="" alt="" class="grad">
  <div class="landing">

    <div class="section home">

      <div class="container">
          <%= image_tag "templo.png", :class => "templo"%>
          <%= image_tag "monje.png", :class => "monje"%>

          <%= image_tag "bambu1.png", :class => "bambu1 bambu"%>
          <%= image_tag "logo.png", :class => "logo"%>
          <%= image_tag "bambu2.png", :class => "bambu2 bambu"%>

          <%5.times do |n|%>
            <%= image_tag "globo.png", :class => "globo#{n}"%>
          <%end%>

          <%= image_tag "globo.png", :class => "g_video"%>
          <%= image_tag "globo.png", :class => "g_play"%>

      </div>

    </div>

    <div class="section games">
      <div class="container">
        <div class="option">
          <img src="" alt="">
        </div>
        <div class="option">
          <img src="" alt="">
        </div>
        <div class="option">
          <img src="" alt="">
        </div>
      </div>

    </div>

  </div>

  <div id="social">
    <a href="http://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="http://www.behance.net"><i class="fa fa-behance" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-gavel" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
  </div>

</div>