<div id="wrapper">

  <div id="loading">Cargando</div>

  <div class="landing">

    <div class="section home">
      <div src="" alt="" class="grad"></div>

      <div class="container">
          <%= image_tag "templo.png", :class => "templo"%>
          <%= image_tag "monje.png", :class => "monje"%>

          <%= image_tag "logo2.png", :class => "logo"%>
          <%= image_tag "bambu1.png", :class => "bambus bambu1"%>
          <%= image_tag "bambu2.png", :class => "bambus bambu2"%>
          <%= image_tag "bambu1.png", :class => "bambus bambu3"%>
          <%= image_tag "bambu2.png", :class => "bambus bambu4"%>

          <%4.times do |n|%>
            <%= image_tag "globo.png", :class => "globo#{n}"%>
          <%end%>

          <%= image_tag "video.png", :id => "g_video", :class => "btn"%>
          <%= image_tag "play.png", :id => "g_play", :class => "btn"%>
          <%= image_tag "info.png", :id => "g_info", :class => "btn"%>
      </div>
    </div>

    <div class="section games">

      <div src="" alt="" class="grad"></div>

      <div class="container">
        <div class="option btn j1">
        </div>
        <div class="option btn j2">
        </div>
        <div class="option btn j3">
        </div>
      </div>

    </div>

  </div>

  <div id="video">

  </div>

  <div id="about">Acá va el about</div>


  <footer>
    <ul>
      <li><%= link_to '<i class="fa fa-facebook" aria-hidden="true"></i>'.html_safe, "https://www.facebook.com/withoutbrainart", :target => "_blank" %></li>
      <li><%= link_to '<i class="fa fa-behance" aria-hidden="true"></i>'.html_safe, "https://www.behance.net/withoutbrain", :target => "_blank" %></li>

      <li id="legal"><%=link_to '<i class="fa fa-gavel" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <div>Acá van los términos legales</div>
      </li>

      <li id="idioma"><%=link_to '<i class="fa fa-globe" aria-hidden="true"></i>'.html_safe, 'javascript:;'%>
        <ul>
          <li><a href="#">EN</a></li>
          <li><a href="#">ES</a></li>
        </ul>
      </li>
    </ul>
  </footer>
  <div id="bloque"></div>

</div>